[Unit]
Description=Restart Fastbook Service
After=docker.service
Wants=network-online.target
Requires=docker.service

[Service]
WorkingDirectory=/home/ubuntu/fastbook
ExecStart=/home/ubuntu/fastbook/docker-compose up -d

[Install]
WantedBy=default.target
